.dau{
    color: rgb(5, 106, 41);
}
.indam{
    font-weight: bold;
}
.me{
    color:red;
    background-color: pink;
}
.doan1{
    color: blue;
}
.doan2{
    color: red;
}
.doan3{
    color: green;
}
.all{
    background-color: yellow;
}